################################################################################
# File        : .gitignore
# Author      : Michael Wurm <wurm.michael95@gmail.com>
# Description : Local gitignore file for LaTeX
################################################################################

*.aux
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.fdb_latexmk
*.pdf

!img/*.pdf
