################################################################################
# File        : .gitignore
# Author      : Michael Wurm <wurm.michael95@gmail.com>
# Description : Local gitignore file for ModelSim
################################################################################

build/
